<!-- head -->
<%-include('./partials/head', {title:'LOG IN'})%>
<!-- head -->


<body class="login-body">
	
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	<!-- login -->
	<div class="container products-wrapper">
		<div class="row form-div-container">	
		
			<div class="form-login-main-div">

				<h2 class="products-title login-title">Log In</h2>
				<div class="circles">
					<img src="/images/m-05-02.png" alt="image" class="circles">
					<% if (locals.error) { %>
						<div class="alert alert-danger" role="alert">
						  <%= error %>
						</div>
					  <% } %>
				</div>

				<form method="post" action="/users/login" class="form-login">
					<div> 
						<input type="text" name="email" id="email" class="form-control" placeholder="Email">	
					</div>
					<div>
					     <input type="password" class="form-control" name="password" id="password" placeholder=" Password"> 
				    </div>
					<div class="logueando form-check"> 
						<input type="checkbox" class="form-check-input" id="rememberme" name="rememberme"> 
						<label for="rememberme" class="form-check-label"> Remember me </label>
					</div>
					<button type="submit" class="button-login"> Submit </button>
				</form>
			</div>

		</div>
	</div>
	<!-- login -->
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->