<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'FINE ART'})%>

<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	<!-- Novedades -->
	
	
	<div class="container products-wrapper">
		<div class="row">	
			<div class="col-12">
				<h2 class="products-title">Login</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<h2 class="col-13"> 
				<form action="/users/profile" class="form-login">
					<div class="logueando"> 
						<label for="exampleInputEmail1" class="form-label" > </label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" aria-describedby="emailHelp">
                     <div id="emailHelp" class="form-text"> We'll always protect your privacy.</div>   
					</div>
					<div class="logueando"> 
						<label for="exampleInputPassword1" class="form-label"></label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Password">   
					</div>
					<div class="logueando form-check"> 
						<label for="exampleCheck1" class="form-check-label"> Check me out</label>
						<input type="checkbox" class="form-check-input" id="exampleCheck1" >
					</div>
					<button type="submit" class="btn btn primary"> Submit </button>
				</form>
				
				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
							
<!-- 							
							   <div class="form p-3 cotactate"  id="contacto">
								  <div class="form-row text-center">
									<form method="POST" netlify >
									  <div class="mt-3 logueando">
										  <input type="text" name="nombre" placeholder="Nombre" required>
									  </div>
									  <div class="logueando">
										<input type="text" name="Apellido" placeholder="Compañia" required>
									</div>
									<div class="logueando">
									  <input type="tel"  name="telefono" placeholder="Telefono" required>
								  </div>
									  <div class="logueando">
										  <input type="email" name="email" placeholder="E-mail" required>
									  </div>
									  <div class="logueando">
										  <input type="text" name="dni" required placeholder="Mensaje">
									  </div>
									  <div class="envi">
										  <input class="enviar" type="submit" name="btnenvio" value="Enviar">
									  </div>
					   </form> -->
			</h2>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>