<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'DIGITAL ART WORLD'})%>

<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	<!-- Novedades -->
	
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Login</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profile">
					<div class="logueando"> 
						<label for="exampleInputEmail1" class="form-label"> Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     <div id="emailHelp" class="form-text"> We'll always protect your privacy.</div>   
					</div>
					<div class="logueando"> 
						<label for="exampleInputPassword1" class="form-label"> Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" >   
					</div>
					<div class="logueando form-check"> 
						<label for="exampleCheck1" class="form-check-label"> Check me out</label>
						<input type="checkbox" class="form-check-input" id="exampleCheck1" >
					</div>
					<button type="submit" class="btn btn primary"> Submit</button>
				</form>
			</h2>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>