<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'LOG IN'})%>

<body class="login-body">
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	<!-- Novedades -->
	
	
	<div class="container products-wrapper">
		<div class="row form-div-container">	
		

	
			<div class="form-login-main-div">
				<h2 class="products-title login-title">Log In</h2>
				<form action="/users/profile" class="form-login">
					<div> 
						<input type="email" class="form-control" placeholder="Email address">	</div>
					<div>
					     <input type="password" class="form-control" placeholder=" Password"> 
				    </div>
					<div class="logueando form-check"> 
						<label for="exampleCheck1" class="form-check-label"> Keep me signed</label>
						<input type="checkbox" class="form-check-input" id="exampleCheck1"  > 
					</div>
					<button type="submit" class="button-login"> Submit </button>
				</form>
			</div>

			
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>