<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'FINE ART'})%>

<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	<!-- Novedades -->
	
	
	<div class="container products-wrapper">
		<div class="row">	
			<div class="col-12">
				<h2 class="products-title">Login</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-13"> 
				<form action="/users/profile" class="form-login">
					<div class="logueando"> 
						<label for="exampleInputEmail1" class="form-label" > </label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" aria-describedby="emailHelp">
						<i class="fa-thin fa-at"></i>
                     <div id="emailHelp" class="form-text"> We'll always protect your privacy.</div>   
					</div>
					<div class="logueando"> 
						<label for="exampleInputPassword1" class="form-label"></label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Password">   
						<i class="input-icon uil uil-lock-alt"></i>
					</div>
					<div class="logueando form-check"> 
						<label for="exampleCheck1" class="form-check-label"> Check me out</label>
						<input type="checkbox" class="form-check-input" id="exampleCheck1" >
					</div>
					<button type="submit" class="btn btn primary"> Submit </button>
				</form>
				
				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
							
<!-- 							
							   <div class="form p-3 cotactate"  id="contacto">
								  <div class="form-row text-center">
									<form method="POST" netlify >
									  <div class="mt-3 logueando">
										  <input type="text" name="nombre" placeholder="Nombre" required>
									  </div>
									  <div class="logueando">
										<input type="text" name="Apellido" placeholder="Compañia" required>
									</div>
									<div class="logueando">
									  <input type="tel"  name="telefono" placeholder="Telefono" required>
								  </div>
									  <div class="logueando">
										  <input type="email" name="email" placeholder="E-mail" required>
									  </div>
									  <div class="logueando">
										  <input type="text" name="dni" required placeholder="Mensaje">
									  </div>
									  <div class="envi">
										  <input class="enviar" type="submit" name="btnenvio" value="Enviar">
									  </div>
					   </form> -->
			</h2>



<!-- 	
			<div>
				<form action="/users/profile" class="form-login">
					<div>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
						<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
					 </svg>
					<input type="email" class="form-control" placeholder="Email address">
					
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
							<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
						  </svg>
					<input type="password" class="form-control" placeholder=" Password"> 
				    </div>
					<button type="submit" class="btn btn primary"> Submit </button>
					
				</form>
			</div>

		-->
				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>