<!-- head -->
<%-include('./partials/head', {title:'ADD'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header-logueado')%>
	<!-- header -->

	<!-- product add -->
	<div class="container products-wrapper">
		<div class="row">

			<div class="form-background">

			<div class="col-12">
				<h2 class="products-title">Add artwork</h2>
			</div>

			<!-- form -->
			<h2 class="col-14"> 
				<form method="post" enctype="multipart/form-data"></form>action="/users/profile">

					<div class="AddProduct"> 
						<label for="ProductName1" class="form-label">Product Name</label>
						<input type="text" class="form-control" id="ProductName1" >   
					</div>

					<div class="AddProduct"> 
						<label for="Description1" class="form-label">Description </label>
						<input type="text" class="form-control" id="Description1" placeholder="Make sure your description is as representative as possible...">   
					</div>

					<div class="AddProduct"> 
						<label for="Image1" class="form-label">Add Image</label>
						<input type="file" class="form-control" name="Image1" id="Image1" >
					</div>

					<div class="AddProduct"> 
						<label for="UploadDate" class="form-label">Upload Date</label>
						<input type="date" class="form-control" id="UploadDate1" >
					</div>
		
					<button type="submit" class="btn btn primary"> Add artwork </button>
				</form>
			</h2>
			<!-- form -->
			
			</div>
			
		</div>
	</div>
	<!-- product add -->

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->