<!-- head -->
<%-include('./partials/head', {title:'REGISTER'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	<div class="container products-wrapper">
		
		<div class="row">

			<div class="col-12">
			<h2 class="products-title">Register</h2>
			</div>

			<!-- register form -->
			<div class=" col-13 form-register-div-container">

				<form method="post" enctype="multipart/form-data" action="/users/profile">
					<div class="registrando"> 
						<label for="exampleInputEmail1" class="form-label">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>

					<div class="registrando"> 
						<label for="exampleInputUsername1" class="form-label">Username </label>
						<input type="username" class="form-control" id="exampleInputUsername1" >   
					</div>

					<div class="registrando"> 
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" >   
					</div>

					<div class="registrando"> 
						<label for="exampleBirthDate1" class="form-label">Birth Date</label>
						<input type="date" class="form-control" id="exampleBirthDate1" >
					</div>

					<div class="registrando"> 
						<label for="exampleId1" class="form-label"> ID </label>
						<input type="number" class="form-control" id="exampleId1" >
					</div>

					<div class="registrando"> 
						<label for="exampleProfilePicture1" class="form-label">  Profile picture</label>
						<input type="file" class="form-control" id="exampleProfilePicture1" >
					</div>

					<button type="submit" class="btn btn primary"> Submit</button>

				</form>

				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
			
			</div>
			<!-- register form -->
		</div>

	</div>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->