<!-- head -->
<%-include('./partials/head', {title:'REGISTER'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	<div class="container products-wrapper">
		
		<div class="row">

			<div class="col-12">
			<h2 class="products-title">Register</h2>
			</div>
			

			<!-- register form -->
			<div class=" col-13 form-register-div-container">

				<form method="post"  action="/users/register">
					<div class="registrando"> 
						<label for="email" class="form-label">Email </label>
						<input type="email" class="form-control" id="email" name= "email" aria-describedby="emailHelp">
					</div>

					<div class="registrando"> 
						<label for="username" class="form-label">Username </label>
						<input type="username" class="form-control" id="username" name="username">   
					</div>

					<div class="registrando"> 
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password" name="password" >   
					</div>

					<div class="registrando"> 
						<label for="birthdate" class="form-label">Birth Date</label>
						<input type="date" class="form-control" id="birthdate" name="birthdate" >
					</div>

					<div class="registrando"> 
						<label for="document" class="form-label"> Document </label>
						<input type="number" class="form-control" id="document" name="document">
					</div>

					<div class="registrando"> 
						<label for="profilepicture" class="form-label">  Profile picture</label>
						<input type="file" class="form-control" id="profilepicture" name="profilepicture" >
					</div>

					<button type="submit" class="btn btn primary"> Submit</button>

				</form>

				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
			
			</div>
			<!-- register form -->
		</div>

	</div>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->