<!-- head -->
<%-include('./partials/head', {title:'SEARCH RESULTS'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->	
	
	<!-- results -->
	<div class="container products-wrapper">
		<div class="row">
		
		<% if (results.search == '') { %>	
			<h2 class="products-title results">Searcher can't be empty</h2>
		<%	}else { %>
			<h2 class="products-title results">No results available for '<%= results.search %>'</h2>
		<% } %> 

		</div>
	</div>
	<!-- results -->


	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->