<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'FINE ART'})%>

<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			
			<!-- Show the "ultimos" products -->
		<% if (results.search == '') { %>	
		<h2 class="products-title results">Searcher cannot be empty</h2>
		<%	}else { %>
		<h2 class="products-title results">No results available for '<%= results.search %>'</h2>
		<% } %> 
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>

