<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Discover, collect, and sell extraordinary NFTs</h2>
					<p>The Art World is the first and largest NFT marketplace</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>P2P transactions</h2>
					<p>Simplify your crypto currency payments with human readable names and build censorship resistant websites. Purchase your blockchain domains today!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Exclusive Membership</h2>
					<p>Membership to the collective and all of the benefits come from holding THE ART WORLD Collective NFT.</p>
				</article>
			</div>
		</div>
	</div>
</footer>